@charset "utf-8";
/* CSS Document */

.container-fluid {
    margin-bottom: 20px;
}
#carouselExampleIndicators1 .carousel-inner .carousel-item {
    background-color: #0017CF;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(21,3,253,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(21,3,253,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(21,3,253,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(21,3,253,1.00) 100%);
}
